body{
  margin:0;
  padding:0;
}



.pattern {
  width: 1300px;
  height: 190px;
  margin: auto;
  background-image: url("../img/pattern.png");
  background-color:royalblue;
  
}

.container {
  width: 1100px;
  height: 2000px;
  margin: auto;
  
  }

header{
  margin: 40px;
}


h1 {
    font-size: 55px;
}


a{
  text-decoration: none;
}


.descrizione-foto{
  margin-top: 0;
  font-size: 15px;
}


.paragrafo{
  font-size: 20px;
}

.immagine-monitor{
  width: 312px;
  height: 208px;
  background-image: url(../img/monitor.jpg);
  color: white;
}

.immagine-graph{
  width: 312px;
  height: 208px;
  background-image: url(../img/graph.jpg);
  color: white;
}

